.acf-fields .acf-field-separator {
	padding: 15px 12px 5px !important;
}

.acf-fields .acf-field-separator .acf-label {
	display: none;
}

.acf-field-separator h2.acf-heading {
	margin: 0 !important;
}